/* 
Document   : style
Created on : Aug 22, 2008, 2:04:32 AM
Author     : chatcharin
Description:
Purpose of the stylesheet follows.
*/
body,td,th {
    font-family: Microsoft Sans Serif;
}
body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-image: url(back%20grund.gif);
}
.style1 {font-size: 14px}
a:link {
    text-decoration: none;
    color: #CC6600;
}
a:visited {
    text-decoration: none;
    color: #CC6600;
}
a:hover {
    text-decoration: none;
    color: #CC6600;
}
a:active {
    text-decoration: none;
    color: #CC6600;
}
.style18 {font-size: 14px; font-family: "MS Reference Sans Serif"; color: #CC6600; }
.style22 {font-size: 14px; color: #CC6600; }
.style23 {color: #CC6600}
.style26 {font-size: 14px; font-family: "Microsoft Sans Serif"; color: #FF8040; }
.style28 {color: #CC6600#CC6600}
.style29 {font-size: 14px; font-family: "MS Reference Sans Serif"; color: #FFFFFF; font-weight: bold; }
.style34 {font-size: 12px}
.style35 {font-size: 12px; color: #CC6600; }
.style39 {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
}
.style43 {font-size: 14px; color: #CC6600; font-family: "Microsoft Sans Serif"; }
.style45 {
    font-family: "Microsoft Sans Serif";
    font-size: 14px;
}
a {
    font-family: Microsoft Sans Serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Microsoft Sans Serif;
}
.style47 {
    font-weight: bold;
    color: #FFFFFF;
}
.style48 {font-family: "MS Reference Sans Serif"}
.style49 {color: #000000}
.style50 {font-size: 14px; color: #000000; font-family: "Microsoft Sans Serif"; }
.style52 {font-size: 12px; color: #000000; }
.style54 {font-size: 14px; font-family: "Microsoft Sans Serif"; color: #FFFFFF; font-weight: bold; }
.style55 {font-family: "Microsoft Sans Serif"}
.style56 {font-size: 14px; color: #CC6600; font-family: "Microsoft Sans Serif"; font-weight: bold; }
.style57 {color: #FFFFFF}
.style58 {font-family: "Microsoft Sans Serif"; color: #FFFFFF; font-size: 14px;}
/* 
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


